@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #050505;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050505;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, sans-serif, Montserrat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}